version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Khoa13092004@
      MYSQL_DATABASE: bookingonline
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  booking-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: booking-service
    restart: always
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/bookingonline
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Khoa13092004@
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "3000:5173"
    depends_on:
      - booking-service

volumes:
  mysql_data:
