.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app > * {
  padding-left: 150px;
  padding-right: 150px;
}

@media (max-width: 75em) {
  /* --mantine-breakpoint-lg */
  .app > * {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (max-width: 62em) {
  /* --mantine-breakpoint-md */
  .app > * {
    padding-left: var(--mantine-spacing-lg);
    padding-right: var(--mantine-spacing-lg);
  }
}

.content {
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}
